__pycache__/
*.pyc
*.pyo
.env
.vscode/
*.egg-info/
dist/
build/
models/mujoco_menagerie-main/
models/reach/
models/pick_place/
logs/
logs_pick_place/
logs_v8/
*.zip
*.pkl
models/reach/panda/
logs/reach_panda/